@import "tailwindcss";

@media (prefers-color-scheme: dark) {
  :root {
    --background: #020617;
    --foreground: #f8fafc;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.page {
  display: flex;
  flex-direction: column;
}

.home-main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6rem;
}

.home-title {
  font-weight: 600;
  font-size: 1.875rem;
  line-height: 1.2;
}

.home-subtitle {
  font-size: 0.875rem;
  color: #94a3b8;
}

.home-btn {
  padding: 0.75rem 1.5rem;
  border-radius: 0.375rem;
  font-weight: 500;
  max-width:max-content;
  font-size: 0.875rem;
  transition: transform 140ms ease, background-color 140ms ease, color 140ms ease,
    border-color 140ms ease;
  cursor: pointer;
}

.home-btn:active {
  transform: scale(0.95);
}

.home-btn:hover {
  transform: scale(1.05);
}

.home-btn-primary {
  background: #10b981;
  border: 1px solid transparent;
  color: var(--background);
}

.home-btn-outline {
  background: transparent;
  border: 1px solid #1e293b;
}

.home-btn-outline:hover {
  background: rgba(15, 23, 42, 0.6)
}

.app-glass {
  background-color: rgba(5, 7, 11, 0.5);
  backdrop-filter: blur(8px);
}

.control-main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

@layer components {
  .card {
    @apply flex items-center justify-center text-center
           bg-slate-800 border border-slate-700
           rounded-xl
           min-h-27.5
           transition-all duration-200
           hover:bg-slate-700 hover:scale-[1.02]
           active:scale-[0.97];
  }
}
