@import "tailwindcss";

:root {
  --background: #020617;
  --foreground: #f8fafc;
  --accenture: #00a972;
  --hover-accenture: #0d9668;
  --light-accenture: #00a97132;
  --info-block: #1c212cb3;
  --hover: #151f36bc;
  --light-text: #94a3b8;
  --critical: #f33d3d;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.page {
  display: flex;
  flex-direction: column;
}

.home-btn {
  padding: 0.75rem 1.5rem;
  border-radius: 0.375rem;
  font-weight: 500;
  max-width: max-content;
  font-size: 0.875rem;
  transition: all 140ms ease;;
  cursor: pointer;
}

.home-btn:active {
  transform: scale(0.95);
}

.home-btn:hover {
  transform: scale(1.05);
}

.home-btn-primary {
  background: var(--accenture);
  color: var(--background);
}

.home-btn-outline {
  background: var(--background);
  border: 1px solid #1e293b;
}

.home-btn-outline:hover {
  background: var(--hover)
}

.app-glass {
  background-color: rgba(5, 7, 11, 0.5);
  backdrop-filter: blur(8px);
}

.control-main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

@layer components {
  .card {
    @apply flex items-center justify-center text-center
           bg-(--info-block)
           rounded-xl
           min-h-27.5
           transition-all duration-200
           hover:bg-(--hover) hover:scale-[1.02]
           active:scale-[0.97];
  }
}
